<ion-header>

</ion-header>

<ion-content>

    <div class="mt-5">
        <ion-img style="margin-top:35px;max-width: 50%;margin-left: auto;
        margin-right: auto;" class="center" src="./../../assets/icon/osakidetza logo.png"></ion-img>
    </div>
    

    <p style="margin-top: 35px; text-align: center;" class="container">Escaneé el código de barras del kit de la toma de muestra que va a utilizar</p>



    <div style="margin-top:35px;max-width: 75%;margin-left: auto;
    margin-right: auto;">
        <label for="inputPassword5" class="form-label">Codigo de Barras Kit de Muestra</label>
        <input type="number" id="inputPassword5" class="form-control" aria-describedby="passwordHelpBlock">
    </div>

    <form style="margin-top:35px;max-width: 75%;margin-left: auto; margin-right: auto" class="p-3 mb-2 bg-primary text-white rounded-3">
        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Indique el colectivo al que pertenece</label>
            <input type="text" class="form-control" id="exampleInputEmail1">
        </div>
        <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Detalle el colectivo</label>
            <input type="text" class="form-control" id="exampleInputPassword1">
        </div>
    </form>


    <div class="d-flex justify-content-evenly" style="margin-top: 100px; margin-bottom: 30px;">
        <button type="button" [routerLink]="['/home']" class="btn btn-primary ">
            Cancelar
                </button>

        <button type="button" [routerLink]="['/page3']" class="btn btn-primary ">
            Continuar 
                </button>
    </div>
</ion-content>