
<ion-content [fullscreen]="true" >
  <div class="container mt-5" [ngSwitch]="nocturno">
    <img *ngSwitchCase="false" src="./../../assets/icon/osakidetza logo.png" class="img-fluid" alt="...">
    <img *ngSwitchCase="true" src="./../../assets/icon/osakidetza-blanco.png" class="img-fluid" alt="...">

  </div>

    <div class="container mt-5">
                    <h3 class="text-center">Seleccione su idioma</h3>
                    <div class="d-flex justify-content-around" >
                      <button type="button" class="btn btn-primary" *ngFor="let item of idiomas" src='{{item.bandera}}' [routerLink]="[ '/page2' ]">{{item.nombre}}</button>
                   </div>
    </div>
</ion-content>