<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      <ion-icon src="./../../assets/icon/osakidetza logo.png"></ion-icon>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
    </ion-toolbar>
  </ion-header>
  <ion-img style="margin-top:35px" src="./../../assets/icon/osakidetza logo.png"></ion-img>
  <div id="container">
    
    <ion-grid>
      <ion-row style="margin-bottom: 25px;">
        <ion-col>
        <h3>Seleccione su idioma</h3>
      </ion-col>
      </ion-row>
      <ion-row>
        <ion-col *ngFor="let item of idiomas">
      <ion-button color="secondary"><ion-icon src='{{item.bandera}}' size="small" style="margin-right: 5px;"></ion-icon>{{item.nombre}}</ion-button>
    </ion-col>
    </ion-row>
    </ion-grid>
  </div>
</ion-content>
